:root {
  --morning-bg: #87CEEB;
  --night-bg: #010927;

  --morning-score: #000;
  --night-score: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#game-board {
  width: 100%;
  height: 600px;
  border-bottom: 15px solid rgb(35, 160, 35);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transition: 1s background linear;
  background: var(--morning-bg);
}

#score {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 40%;
  top: 15px;
  font-size: 2rem;
}

.clouds {
  width: 550px;
  position: absolute;
  top: 60px;
  animation: clouds-animation 20s infinite linear
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 750ms infinite linear;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump-animation 400ms ease-out;
}

@keyframes clouds-animation {
  from {
    right: -550px
  }

  to {
    right: 100%
  }
}

@keyframes jump-animation {
  0% {
    bottom: 0;
  }

  50% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}